

    <style>
.help{
    background-color:#7ff0e4;
}
.toppings{
    color:#7ff0e4;
}
.fw-light{
    
    color: #7ff0e4;
}
#order{
    background-color:#7ff0e4;
}
#menu{
    background-color:#7ff0e4;
}
.btn:hover{
    background-color:#7ff0e4;
    
}
.sr-only{
    color:#7ff0e4;
}

    </style>
    
